@model Blog.Models.IndexViewModel
<div class="container">
    <div class="well">
        @{
            ViewBag.Title = "User: " + @User.Identity.Name;
        }

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h2>Manage your account settings</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-default btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default btn-sm" })
                    }
                </dd>
                <dt><br>External Logins:</dt>
                <dd><br>
                @if(Model.Logins.Count == 0)
                {
                    <text>
                      None
                    </text>
                    @*@Html.ActionLink("None", null)*@
                }
                else
	            {
	                @Model.Logins.Count;
	            }
                    @Html.ActionLink("Add", "ManageLogins", null, new { @class = "btn btn-default btn-sm"})
                </dd>
                @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                *@
                <dt><br>Phone Number:</dt>
                <dd><br>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber", null, new { @class = "btn btn-success btn-sm" })
                        @:
                        @Html.ActionLink("Remove", "RemovePhoneNumber", null, new { @class = "btn btn-danger btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber", null, new { @class = "btn btn-success btn-sm" })
                    }
                </dd>
                <dt><br>Two-Factor Authentication:</dt>
                <dd><br>
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>
                                <div class="btn btn-success btn-sm">Enabled</div>
                                <input type="submit" value="Disable" class="btn btn-default btn-sm" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>
                                <div class="btn btn-danger btn-sm">Disabled</div>
                                <input type="submit" value="Enable" class="btn btn-default btn-sm" />
                            </text>
                        }
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
