<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using Microsoft.AspNet.Identity
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Articles", "List", "Article", new { area = "" }, new { @class = "navbar-brand" })

                @if (Request.IsAuthenticated)
                {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                @Html.ActionLink("Create", "Create", "Article", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                            @*<li>
                                @Html.ActionLink("My Articles", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                <a href="~/Views/Article/List?user=@User.Identity.GetUserName()">My articles</a>
                            </li>*@
                        </ul>
                }
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="pull-right">
            @*<p>&bull;Blog&bull;</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
