@model Blog.Models.ArticleDetailsModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
            <div class="badge pull-right">
                Contact me at:<br> <br>@Model.Author.Email
            </div>
        </header>
        <p>
            @Model.Content
        </p>
        <img src="@Model.ImagePath" class="img-responsive mt-40" />
        <br>

        <small class="author">
            @Model.Author.FullName
        </small>
        <footer class="pull-right">
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || HttpContext.Current.User.Identity.Name.Equals(Model.Author.UserName)))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Back", "List", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />